*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  height: 100%;
}
.header-i{
  display: flex;
  justify-content: center;
  background-color: #363636;
  width: 100%;
  height: 100px;
}
.header-img{
  height: 110px;
  width: 170px;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  color: aliceblue;
}
.lista-header{
  display: fix;
  display: flex;
  gap: 3rem;
  padding: .5rem;
  background-color: aliceblue;
  justify-content: center;
}
.lista-item{
  list-style: none;
}
.lista-link{
  text-decoration: none;
  color: #363636;
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: 600;
  text-transform: uppercase;
  position: relative;
}
.lista-link::after{
  content: "";
  display: block;
  height: 3px;
  width: 0;
  background-color: #2e2e2e;
  margin-top: 4px;
  transition: .3s;
  position: absolute;
}
.lista-link:hover:after{
  width: 100%;
}
.header-nav{
  height: 1vh;
}